body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

button {
  padding: 5px;
  border-radius: 55%;
}

button:hover {
  color: tomato;
  background-color: greenyellow;
}
	
li {
  list-style: none;
}